body {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
}

#taskText {
    font-size: 20px;
    margin-bottom: 20px;
}

#display {
    width: 400px;
    height: 40px;
    font-size: 24px;
    margin-bottom: 20px;
}

.calculator0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1650px;
    margin: 0 auto 20px;
}

.calculator {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.short {
    grid-column: span 1;
    background-color: #4CAF50;
    color: white;
}

.long {
    grid-column: span 4;
    background-color: #4CAF50;
    color: white;
}

.empty {
    visibility: hidden;
}
